/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Base styles */

@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton/Anton-Regular.ttf') format('truetype');
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,
body {
    height: 100%;
    font-family: 'Roboto Medium';
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for the background network texture in P5.js */
#canvasContainer {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

/* Container for the countdown */
#countdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 2px solid #B3C7DE;
    box-sizing: border-box;
    max-width: 370px;
    position: relative;
    z-index: 1;
}

#countdown-container {
    position: absolute;
    top: 15%;
    left: 15%;
}

/* Styling for the countdown number */
#countdown {
    font-size: 15em;
    font-family: 'Anton', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: colorChange 20s infinite;
}

/* Keyframes for the countdown number color animation */
@keyframes colorChange {

    0%,
    100% {
        color: #A6228C;
    }

    50% {
        color: #5B2C86;
    }
}

/* Paragraph styles */
p {
    font-size: 1.3em;
    text-align: center;
    color: #00205B;
}

/* Learn more button styles */
#learn-more {
    font-size: 1em;
    font-family: 'Roboto Medium', sans-serif;
    padding: 10px 20px;
    /* Adjusted for better touch target size */
    width: 100%;
    /* Changed from 100% to auto for better button sizing */
    background-color: #00205C;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Transition for hover effect */
}

#learn-more:hover,
#learn-more:focus {
    background-color: #D32F2F;
    /* Slightly darker red on hover/focus */
    outline: none;
    /* Remove default focus outline */
}

/* Media queries for responsive adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 6em;
    }

    p {
        font-size: 1.2em;
    }

    #learn-more {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}
